
.border-radius1 {
width: 100px;
height: 100px;
background: blue;
color: white;
border-radius: 20px;
padding: 10px;
}
.border-radius2 {
margin-top: 20px;
width: 100px;
height: 100px;
background: orange;
color: black;
border-radius: 5px 15px 25px 35px;
padding: 10px;
}
.border-radius3 {
margin-top: 20px;
width: 100px;
height: 100px;
background: yellow;
color: red;
border-radius: 50px/15px;
padding: 10px;
}
.border-radius4{
margin-top: 20px;
width: 100px;
height: 100px;
background: red;
color: white;
border-radius: 50%;
padding: 20px;
}
.border-radius5{
	border-top-right-radius: 25px;
	width: 100px;
	height: 100px;
	background: pink;
	color: red;
	padding: 20px;
	margin-top: 10px;
}