.border-img1 {
	border: 10px solid transparent;
	padding: 10px;
	border-image: url("border.png") 30 round;
	width: 100%;
	display: block;
	height: 100px;
	background: yellow;
}
.border-img2 {
	border: 10px solid transparent;
	padding: 10px;
	border-image: url("border.png") 30 stretch;
	width: 100%;
	height: 100px;
	background: blue;
	color: white;
	margin-top: 10px;
}
.border-img3 {
	border: 10px solid transparent;
	padding: 10px;
	border-image: url("border.png") 20% round;
	width: 100%;
	height: 100px;
	background: pink;
	color: black;
	margin-top: 10px;
}